<!DOCTYPE html>

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.css" />
    <link rel="stylesheet" href="~/css/custom.css"/>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
