@{
	ViewData["Title"] = "About Us";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%;">
	<img src="https://www.tgsolarpump.com/wp-content/uploads/2019/11/about-us-banner.jpg" style="width:100%; object-fit:cover" />
	<div class="box" style="position:absolute; top:85%;">
		<p class="is-size-3 mt-4">WHO WE ARE?</p>
		<span class="mt-2 is-block">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Nec tincidunt praesent semper feugiat. Aliquet lectus proin nibh nisl condimentum
			id venenatis a condimentum. Erat imperdiet sed euismod nisi porta lorem. Enim lobortis scelerisque fermentum dui faucibus in ornare quam.
			Habitant morbi tristique senectus et netus et malesuada fames. Adipiscing enim eu turpis egestas. Nunc lobortis mattis aliquam faucibus purus in massa.
			Ornare lectus sit amet est placerat in.	Pellentesque pulvinar pellentesque habitant morbi tristique senectus.
			Sit amet cursus sit amet dictum sit amet justo. Rhoncus urna neque viverra justo nec ultrices dui sapien. Habitant morbi tristique senectus et netus et.
			Fusce id velit ut tortor pretium viverra suspendisse. Id neque aliquam vestibulum morbi blandit. Nulla aliquet enim tortor at auctor urna nunc id cursus.
			Urna condimentum mattis pellentesque id nibh tortor id aliquet lectus. Nam libero justo laoreet sit amet cursus sit. Velit dignissim sodales ut eu sem integer
			vitae justo eget. Mollis aliquam ut porttitor leo a diam. Rhoncus dolor purus non enim praesent elementum facilisis leo vel. Sed arcu non odio euismod lacinia.
			Amet justo donec enim diam vulputate ut pharetra sit. Suspendisse sed nisi lacus sed viverra tellus. Donec ultrices tincidunt arcu non sodales.
			Curabitur vitae nunc sed velit dignissim. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Quam quisque id diam vel quam elementum pulvinar etiam non.
			Tortor at risus viverra adipiscing at in. Ac ut consequat semper viverra nam libero justo laoreet sit. Feugiat scelerisque varius morbi enim nunc
			faucibus a pellentesque. Ornare arcu dui vivamus arcu felis bibendum. Pellentesque massa placerat duis ultricies lacus sed. Elementum eu facilisis
			sed odio morbi quis commodo odio. Dui sapien eget mi proin sed libero enim sed. Ullamcorper eget nulla facilisi etiam dignissim diam. Dictum varius duis at
			consectetur lorem donec massa sapien. Sollicitudin nibh sit amet commodo nulla facilisi. Tincidunt augue interdum velit euismod in pellentesque massa placerat.
			Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Bibendum arcu vitae elementum curabitur. Justo nec ultrices dui sapien eget mi proin.
			Feugiat in ante metus dictum at tempor.
		</span>
		<p class="is-size-3 mt-4">WE'RE DIFFRENT THAN THE REST</p>
		<span class="mt-2 is-block">
			<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Nec tincidunt praesent semper feugiat. Aliquet lectus proin nibh nisl condimentum
			id venenatis a condimentum. Erat imperdiet sed euismod nisi porta lorem. Enim lobortis scelerisque fermentum dui faucibus in ornare quam.
			Habitant morbi tristique senectus et netus et malesuada fames. Adipiscing enim eu turpis egestas. Nunc lobortis mattis aliquam faucibus purus in massa.
			Ornare lectus sit amet est placerat in.	Pellentesque pulvinar pellentesque habitant morbi tristique senectus.
			<br /><br />
			<strong>Rhoncus dolor purus non enim praesent elementum</strong> facilisis leo vel. Sed arcu non odio euismod lacinia.
			Amet justo donec enim diam vulputate ut pharetra sit. Suspendisse sed nisi lacus sed viverra tellus. Donec ultrices tincidunt arcu non sodales.
			Curabitur vitae nunc sed velit dignissim. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Quam quisque id diam vel quam elementum pulvinar etiam non.
			Tortor at risus viverra adipiscing at in. Ac ut consequat semper viverra nam libero justo laoreet sit.
		</span>
		<p class="is-size-3 mt-4">MEET TEAM</p>
		<div style="display: grid; grid-template-columns: auto auto auto" class="mt-3">
			<div>
				<img class="is-block" style="width: 300px; height: 300px" src="https://writestylesonline.com/wp-content/uploads/2019/01/What-To-Wear-For-Your-Professional-Profile-Picture-or-Headshot.jpg" />
				<strong class="is-block is-size-5">Sophia Amouruso</strong>
				<span class="is-block is-size-7 is-italic">Founder &amp CEO</span>
			</div>

			<div>
				<img class="is-block" style="width: 300px; height: 300px" src="https://puzl-production.s3.amazonaws.com/files/uploads/files/001/684/988/original/john_martin.jpg?1538144071" />
				<strong class="is-block is-size-5">Mike Quireshi</strong>
				<span class="is-block is-size-7 is-italic">Editor-In-Chief &amp COO</span>
			</div>

			<div>
				<img class="is-block" style="width: 300px; height: 300px" src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />

				<strong class="is-block is-size-5">Ashish Shilang</strong>
				<span class="is-block is-size-7 is-italic">Vice President of Finance</span>
			</div>
		</div>
		<div style="display: grid; grid-template-columns: max-content auto" class="my-5">
			<div>
				<p class="is-size-4"><strong>Our headquarter</strong></p>
				<span class="mt-3 is-block">
					Quam quisque id diam vel quam elementum pulvinar etiam non.<br />
			Tortor at risus viverra adipiscing at in. Ac ut consequat semper viverra<br /> nam libero justo laoreet sit
				</span>
				<span class="is-block" style="margin-top:100px">
					The Toronto Star Building<br />
1					Yonge Street Suite 1801, Toronto, M5E 1W7
				</span>
				<span class="is-block mt-2">
					<strong>Call Us:</strong> 022-98765-655
				</span>
				@*<button class="button is-info is-medium mt-3">Get a quote</button>*@
			</div>
			<div class="ml-5 has-text-right">
				<img src="https://images.adsttc.com/media/images/5c3f/3bbb/284d/d125/fd00/008d/medium_jpg/_DSC6179-HDR-%E7%BC%96%E8%BE%91-%E5%90%B4%E6%B8%85%E5%B1%B1.jpg?1547647921"/>
			</div>
		</div>
	</div>
</div>

